[devel_kubic_libcontainers_stable_cri-o_{{ VERSION }}]
name=devel:kubic:libcontainers:stable:cri-o:{{ VERSION }} ({{ OS_VER }})
type=rpm-md
baseurl=https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/{{ VERSION }}/{{ OS_VER }}/
gpgcheck=1
gpgkey=https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/{{ VERSION }}/{{ OS_VER }}/repodata/repomd.xml.key
enabled=1
